In [1]:
from pyaaas.aaas import AaaS
from pyaaas.models.privacy_models import KAnonymity
from pyaaas.attribute_type import AttributeType
from pyaaas.dataset import Dataset
import pandas as pd

ModuleNotFoundError: No module named 'pyaaas.attribute_type'

In [ ]:
aaas = AaaS("http://localhost:8080/") # connecting to online service

In [ ]:
data_df = pd.read_csv("../data/data.csv", sep=";")

In [ ]:
data_df

## Create Dataset

In [2]:
dataset = Dataset.from_pandas(data_df)

NameError: name 'Dataset' is not defined

In [3]:
headers = data_df.columns.values.tolist()
headers

NameError: name 'data_df' is not defined

### Set the AttributeType for the dataset fields

In [4]:
dataset.set_attribute('id',
                       AttributeType.IDENTIFYING)

NameError: name 'dataset' is not defined

In [5]:
dataset.set_attributes(['gender',
                        'zipcode'],
                        AttributeType.QUASIIDENTIFYING)

NameError: name 'dataset' is not defined

### Set Generalization Hierarchies
Note that if the hierarchy does not have a header row in the csv file, please set header=None in read_csv() or the first row will be interpreted as a header and ARXaaS will throw an exception for the missing hierarchy data.

In [6]:
zipcode_hierarchy = pd.read_csv("../hierarchies/Ytelse_hierarchy.csv", sep=";", header=None)

NameError: name 'pd' is not defined

In [7]:
dataset.set_hierarchy('Ytelse', ytelse_hierarchy)
dataset.set_hierarchy("Innsatsgruppe", innsatsgruppe_hierarchy)
dataset.set_hierarchy("Innvandrerbakgrunn", innvandrerbakgrunn_hierarchy)
dataset.set_hierarchy("Ledighetsstatus", ledighetsstatus_hierarchy)

NameError: name 'dataset' is not defined

In [8]:
ledighetsstatus_hierarchy

NameError: name 'ledighetsstatus_hierarchy' is not defined

### Create Privacy Models

In [9]:
kanon = KAnonymity(4)

### Create Risk Profile

In [26]:
risk_profile = aaas.risk_profile(dataset)

In [27]:
risk_profile.re_identification_risk_dataframe()

,Journalist_attacker_success_rate,Marketer_attacker_success_rate,Prosecutor_attacker_success_rate,average_prosecutor_risk,estimated_journalist_risk,estimated_marketer_risk,estimated_prosecutor_risk,highest_journalist_risk,highest_prosecutor_risk,lowest_risk,population_model,population_uniques,quasi_identifiers,records_affected_by_highest_journalist_risk,records_affected_by_highest_prosecutor_risk,records_affected_by_lowest_risk,sample_uniques
0,12.06,12.06,12.06,12.06,100.0,12.06,100.0,100.0,100.0,0.4878048780487805,PITMAN,0.042243729241281044,"[Innvandrerbakgrunn, Ytelse, Innsatsgruppe, Le...",2.8000000000000003,2.8000000000000003,15.620000000000001,2.8000000000000003

In [28]:
risk_profile.distribution_of_risk_dataframe()

,interval,recordsWithMaxmalRiskWithinInterval,recordsWithRiskWithinInteval
0,"]50,100]",1.0000,0.0280
1,"]33.4,50]",0.9720,0.0448
2,"]25,33.4]",0.9272,0.0456
3,"]20,25]",0.8816,0.0320
4,"]16.7,20]",0.8496,0.0360
5,"]14.3,16.7]",0.8136,0.0396
6,"]12.5,14.3]",0.7740,0.0294
7,"]10,12.5]",0.7446,0.0574
8,"]9,10]",0.6872,0.0360
9,"]8,9]",0.6512,0.0216
10,"]7,8]",0.6296,0.0216
11,"]6,7]",0.6080,0.0398
12,"]5,6]",0.5682,0.0636
13,"]4,5]",0.5046,0.0172
14,"]3,4]",0.4874,0.0720
15,"]2,3]",0.4154,0.0830
16,"]1,2]",0.3324,0.1762
17,"]0.1,1]",0.1562,0.1562
18,"]0.01,0.1]",0.0000,0.0000
19,"]0.001,0.01]",0.0000,0.0000
20,"]0.0001,0.001]",0.0000,0.0000
21,"]1e-5,0.0001]",0.0000,0.0000
22,"]1e-6,1e-5]",0.0000,0.0000
23,"]0,1e-6]",0.0000,0.0000

### Raw profile data

In [29]:
risk_profile.re_identification_risk

{'Prosecutor_attacker_success_rate': '12.06',
 'records_affected_by_highest_prosecutor_risk': '2.8000000000000003',
 'sample_uniques': '2.8000000000000003',
 'estimated_prosecutor_risk': '100.0',
 'population_model': 'PITMAN',
 'highest_journalist_risk': '100.0',
 'records_affected_by_lowest_risk': '15.620000000000001',
 'estimated_marketer_risk': '12.06',
 'Journalist_attacker_success_rate': '12.06',
 'highest_prosecutor_risk': '100.0',
 'estimated_journalist_risk': '100.0',
 'lowest_risk': '0.4878048780487805',
 'Marketer_attacker_success_rate': '12.06',
 'average_prosecutor_risk': '12.06',
 'records_affected_by_highest_journalist_risk': '2.8000000000000003',
 'population_uniques': '0.042243729241281044',
 'quasi_identifiers': '[Innvandrerbakgrunn, Ytelse, Innsatsgruppe, Ledighetsstatus]'}

## Anonymize

In [30]:
anon_ds = aaas.anonymize(dataset, [kanon])

In [31]:
anon_ds.to_dataframe()

,Dummy_tag,ID,Navn,Alder,Sivilstatus,Barn,Innsatsgruppe,Innvandrerbakgrunn,Ledighetsstatus,Utdanning,Ytelse,Medisinsk forhold
0,dummy_data,*,*,47,Ukjent,1,Spesielt tilpasset,Togo,Delvis ledig,Høyere utd inntil 4 år,Tiltakspenger,*
1,dummy_data,*,*,30,Gift,2,Varig tilpasset,Surinam,ledig,Grunnskole,Dagpenger,*
2,dummy_data,*,*,37,Ukjent,1,Varig tilpasset,Malta,Delvis ledig,Grunnskole,Dagpenger,*
3,dummy_data,*,*,52,Ugift,1,Varig tilpasset,Norge,Delvis ledig,Høyere utd inntil 4 år,Uføretrygd,*
4,dummy_data,*,*,37,Ukjent,3,Spesielt tilpasset,Surinam,Delvis ledig,Høyere utd over 4 år,Dagpenger,*
5,dummy_data,*,*,30,Gift,2,Spesielt tilpasset,Malta,Delvis ledig,VGS,Uføretrygd,*
6,dummy_data,*,*,42,Enke,2,Spesielt tilpasset,Norge,Delvis ledig,Høyere utd inntil 4 år,Tiltakspenger,*
7,dummy_data,*,*,39,Enke,1,Varig tilpasset,Norge,ledig,VGS,Tiltakspenger,*
8,dummy_data,*,*,37,Enke,2,Varig tilpasset,Norge,Delvis ledig,Grunnskole,Dagpenger,*
9,dummy_data,*,*,42,Gift,2,Varig tilpasset,Malta,ledig,Ukjent,Tiltakspenger,*
10,dummy_data,*,*,41,Enke,2,Varig tilpasset,Norge,ledig,Grunnskole,Sykepenger,*
11,dummy_data,*,*,33,Enke,3,Varig tilpasset,Norge,ledig,Høyere utd inntil 4 år,Dagpenger,*
12,dummy_data,*,*,42,Skilt,0,Varig tilpasset,Norge,ledig,VGS,Uføretrygd,*
13,dummy_data,*,*,36,Skilt,2,Varig tilpasset,Norge,ledig,VGS,Arbeidsavklaringspenger,*
14,dummy_data,*,*,35,Ugift,3,Varig tilpasset,Norge,Delvis ledig,VGS,Dagpenger,*
15,dummy_data,*,*,51,Enke,1,Varig tilpasset,Neptun,ledig,VGS,Tiltakspenger,*
16,dummy_data,*,*,50,Skilt,1,Varig tilpasset,Norge,ledig,Grunnskole,Tiltakspenger,*
17,dummy_data,*,*,49,Ukjent,1,Varig tilpasset,Jupiter,ledig,Høyere utd inntil 4 år,Tiltakspenger,*
18,dummy_data,*,*,40,Enke,1,Varig tilpasset,Togo,ledig,Ukjent,Dagpenger,*
19,dummy_data,*,*,42,Ukjent,1,Varig tilpasset,Norge,ledig,VGS,Dagpenger,*
20,dummy_data,*,*,53,Skilt,3,Spesielt tilpasset,Japan,ledig,VGS,Dagpenger,*
21,dummy_data,*,*,30,Gift,2,Varig tilpasset,Neptun,ledig,VGS,Uføretrygd,*
22,dummy_data,*,*,44,Enke,1,Spesielt tilpasset,Norge,ledig,Høyere utd over 4 år,Dagpenger,*
23,dummy_data,*,*,33,Ugift,3,Varig tilpasset,Surinam,ledig,Ukjent,Sykepenger,*
24,dummy_data,*,*,56,Enke,2,Varig tilpasset,Norge,ledig,VGS,Tiltakspenger,*
25,dummy_data,*,*,41,Gift,2,Spesielt tilpasset,Togo,Delvis ledig,Høyere utd over 4 år,Tiltakspenger,*
26,dummy_data,*,*,37,Gift,1,Varig tilpasset,Norge,ledig,Høyere utd inntil 4 år,Dagpenger,*
27,dummy_data,*,*,54,Ukjent,4,Varig tilpasset,Togo,ledig,VGS,Uføretrygd,*
28,dummy_data,*,*,41,Skilt,0,Varig tilpasset,Norge,Delvis ledig,Høyere utd inntil 4 år,Arbeidsavklaringspenger,*
29,dummy_data,*,*,33,Enke,1,Varig tilpasset,Norge,Delvis ledig,Høyere utd over 4 år,Dagpenger,*
...,...,...,...,...,...,...,...,...,...,...,...,...
4970,dummy_data,*,*,54,Gift,-1,Varig tilpasset,Norge,Delvis ledig,VGS,Dagpenger,*
4971,dummy_data,*,*,38,Gift,1,Varig tilpasset,Norge,ledig,VGS,Arbeidsavklaringspenger,*
4972,dummy_data,*,*,41,Enke,0,Varig tilpasset,Norge,Delvis ledig,VGS,Sykepenger,*
4973,dummy_data,*,*,51,Enke,2,Varig tilpasset,Malta,ledig,Ukjent,Dagpenger,*
4974,dummy_data,*,*,44,Skilt,2,Varig tilpasset,Togo,ledig,Høyere utd over 4 år,Tiltakspenger,*
4975,dummy_data,*,*,31,Skilt,3,Varig tilpasset,Norge,ledig,Høyere utd inntil 4 år,Dagpenger,*
4976,dummy_data,*,*,36,Skilt,2,Varig tilpasset,Norge,ledig,VGS,Dagpenger,*
4977,dummy_data,*,*,47,Skilt,1,Varig tilpasset,Norge,ledig,VGS,Dagpenger,*
4978,dummy_data,*,*,43,Enke,3,Spesielt tilpasset,Norge,ledig,Høyere utd inntil 4 år,Tiltakspenger,*
4979,dummy_data,*,*,47,Skilt,2,Spesielt tilpasset,Norge,ledig,Høyere utd inntil 4 år,Dagpenger,*
4980,dummy_data,*,*,42,Skilt,3,Spesielt tilpasset,Norge,ledig,VGS,Tiltakspenger,*
4981,dummy_data,*,*,44,Ukjent,1,Spesielt tilpasset,Neptun,Delvis ledig,Høyere utd over 4 år,Sykepenger,*
4982,dummy_data,*,*,36,Gift,2,Varig tilpasset,Malta,Delvis ledig,Høyere utd inntil 4 år,Arbeidsavklaringspenger,*
4983,dummy_data,*,*,54,Gift,1,Varig tilpasset,Neptun,ledig,VGS,Uføretrygd,*
4984,dummy_data,*,*,40,Ukjent,4,Varig tilpasset,Norge,ledig,Høyere utd inntil 4 år,Sykepenger,*
4985,dummy_data,*,*,42,Ugift,3,Varig tilpasset,Malta,ledig,Høyere utd inntil 4 år,Arbeidsavklaringspenger,*
4986,dummy_data,*,*,36,Ukjent,5,Varig tilpasset,Norge,ledig,Høyere utd inntil 4 år,Uføretrygd,*
4987,dummy_data,*,*,44,Skilt,2,Varig tilpasset,Norge,Delvis ledig,VGS,Dagpenger,*
4988,dummy_data,*,*,39,Enke,3,Spesielt tilpasset,Malta,ledig,VGS,Tiltakspenger,*
4989,dummy_data,*,*,39,Ukjent,0,Varig tilpasset,Norge,ledig,Høyere utd over 4 år,Tiltakspenger,*
4990,dummy_data,*,*,33,Gift,3,Varig tilpasset,Malta,ledig,Høyere utd over 4 år,Arbeidsavklaringspenger,*
4991,dummy_data,*,*,33,Enke,2,Varig tilpasset,Norge,ledig,VGS,Dagpenger,*
4992,dummy_data,*,*,45,Gift,2,Varig tilpasset,Surinam,ledig,Høyere utd over 4 år,Sykepenger,*
4993,dummy_data,*,*,46,Ugift,2,Varig tilpasset,Norge,Delvis ledig,Høyere utd inntil 4 år,Tiltakspenger,*
4994,dummy_data,*,*,42,Ukjent,1,Varig tilpasset,Norge,ledig,Ukjent,Dagpenger,*
4995,dummy_data,*,*,38,Enke,2,Varig tilpasset,Norge,Delvis ledig,VGS,Dagpenger,*
4996,dummy_data,*,*,42,Skilt,1,Spesielt tilpasset,Norge,ledig,Høyere utd inntil 4 år,Arbeidsavklaringspenger,*
4997,dummy_data,*,*,39,Skilt,3,Varig tilpasset,Norge,ledig,VGS,Dagpenger,*
4998,dummy_data,*,*,36,Gift,1,Spesielt tilpasset,Surinam,ledig,VGS,Dagpenger,*
4999,dummy_data,*,*,36,Skilt,3,Spesielt tilpasset,Norge,ledig,VGS,Tiltakspenger,*

## Create RiskProfile for the anonymized dataset

In [32]:
anon_rp = aaas.risk_profile(anon_ds)

In [35]:
anon_rp.re_identification_risk_dataframe()

,Journalist_attacker_success_rate,Marketer_attacker_success_rate,Prosecutor_attacker_success_rate,average_prosecutor_risk,estimated_journalist_risk,estimated_marketer_risk,estimated_prosecutor_risk,highest_journalist_risk,highest_prosecutor_risk,lowest_risk,population_model,population_uniques,quasi_identifiers,records_affected_by_highest_journalist_risk,records_affected_by_highest_prosecutor_risk,records_affected_by_lowest_risk,sample_uniques
0,96.8,96.8,96.8,96.80000000000001,100.0,96.80000000000001,100.0,100.0,100.0,25.0,PITMAN,30.589150757853673,"[Alder, Innvandrerbakgrunn, Medisinsk forhold,...",93.82000000000001,93.82000000000001,0.08,93.82000000000001

In [34]:
anon_rp.distribution_of_risk_dataframe()

,interval,recordsWithMaxmalRiskWithinInterval,recordsWithRiskWithinInteval
0,"]50,100]",1.0000,0.9382
1,"]33.4,50]",0.0618,0.0556
2,"]25,33.4]",0.0062,0.0054
3,"]20,25]",0.0008,0.0008
4,"]16.7,20]",0.0000,0.0000
5,"]14.3,16.7]",0.0000,0.0000
6,"]12.5,14.3]",0.0000,0.0000
7,"]10,12.5]",0.0000,0.0000
8,"]9,10]",0.0000,0.0000
9,"]8,9]",0.0000,0.0000
10,"]7,8]",0.0000,0.0000
11,"]6,7]",0.0000,0.0000
12,"]5,6]",0.0000,0.0000
13,"]4,5]",0.0000,0.0000
14,"]3,4]",0.0000,0.0000
15,"]2,3]",0.0000,0.0000
16,"]1,2]",0.0000,0.0000
17,"]0.1,1]",0.0000,0.0000
18,"]0.01,0.1]",0.0000,0.0000
19,"]0.001,0.01]",0.0000,0.0000
20,"]0.0001,0.001]",0.0000,0.0000
21,"]1e-5,0.0001]",0.0000,0.0000
22,"]1e-6,1e-5]",0.0000,0.0000
23,"]0,1e-6]",0.0000,0.0000